<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CSVDataFilePath" value="./UserData.csv" />
    <add key="XMLDataMarketplacesFilePath" value="./MarketPlacesData.xml" />
    <add key="XMLDataLocalSellersFilePath" value="./LocalSellersData.xml" />
  </appSettings>
  <connectionStrings>
    <add name="cs" connectionString="server=localhost;database=psidata;password=#mifas2020PSI;userid=root;"/>
  </connectionStrings>
</configuration>

